{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": "plugin:mocha/recommended",
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly",
    "fixture": "writable",
    "global": "writable",
    "test": "writable",
    "process": "writable",
    "require": "writable",
    "__dirname": "writable"
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "indent": [
      "error",
      "tab"
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ],
    "func-names": 0
  }
}